.verybottom {
  position: absolute;
  bottom: 0px;
}

body {
  height: 100%;
  margin: 0;
}


.box-my {
  display: flex;
  flex-flow: column;
  height: 91%;
}
 
.remaining {
  flex-grow : 1;
}

.middle {
  max-height: calc(100vh - 56px);
  height: calc(100vh - 56px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description {
  height: calc(100vh - 100px);
}

.auto-center {
  padding-top:15%;
}

.fmw-50 {
  min-width: 50%;
}

.text-area-no-resize {
  resize: none;
}

.of-auto {
  overflow: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

.of-auto-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.pointer-cursor {
  cursor: pointer;
}

.modal-size {
  /*max-height: calc(80vh - 100px);
  max-width: calc(80vw - 100px);*/
}

.show-image-size {
  max-height: calc(512px);
}

/*img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}*/

.extended-content-container {
  width: 500%;
  margin-left: -200%;
}

.verticalAlign {
  display: table-cell;
  vertical-align: middle;
}